<div class="h-100 d-flex align-items-center justify-content-center">
  <h1><%= @restaurant.name %></h1>
</div>
<hr>
<div class="h-100 d-flex align-items-center justify-content-center">
  <h2>Address: <%= @restaurant.address %></h2>
</div>
<div class="h-100 d-flex align-items-center justify-content-center">
  <p>Telephone: <%= @restaurant.phone_number %></p>
</div>
  <br>
<div class="h-100 d-flex align-items-center justify-content-center">
  <p>Cuisine: <%= @restaurant.category %></p>
</div>
